@mixin font-face($font-name, $file-name, $weight: 400, $style: normal) {
  @font-face {
    font-family: $font-name;
    src: local($font-name),
         url($file-name + ".woff2") format("woff2"),
         url($file-name + ".woff") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face("OpenSans", "../fonts/OpenSans-Regular");
@include font-face("Montserrat", "../fonts/Montserrat-Regular");
@include font-face("Montserrat", "../fonts/Montserrat-ExtraBold", 800);
@include font-face("MontserratMedium", "../fonts/MontserratMedium-Regular");
@include font-face("MontserratSemiBold", "../fonts/MontserratSemibold-Regular");
