@import "variables.scss";
@import "mixin.scss";
@import "normalize.scss";
@import "global.scss";
@import "fonts.scss";
@import "blocks/tiny-slider.scss";
@import "blocks/slider.scss";
@import "blocks/text-content.scss";
@import "blocks/header.scss";
@import "blocks/intro.scss";
@import "blocks/programme.scss";
