// font
$montserrat-medium: "MontserratMedium", "Arial", sans-serif;
$montserrat-semibold: "MontserratSemibold", "Arial", sans-serif;
$opensans: "OpenSans", "Arial", sans-serif;
$montserrat: "Montserrat", "Arial", sans-serif;

// color
$w: #ffffff;
$b: #000000;
$border-cr: #fe8057;
$programme-cr: #4e93e1;

// bg
$menu-open-bg: #25262a;
$intro-bg: #798386;

// @media
$media-dt: 1024px;
$media-tb: 768px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
