// font
$montserrat-medium: "MontserratMedium";
$montserrat-semibold: "MontserratSemibold";
$opensans: "OpenSans";
$montserrat: "Montserrat";

// color
$w: #ffffff;
$b: #000000;
$border-cr: #fe8057;

// bg
$menu-open-bg: #25262a;
$intro-bg: #c4eeff;

// @media
$media-dt: 1024px;
$media-tb: 768px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
