.main-header {
  position: absolute;
  min-width: inherit;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $montserrat;
  color: $w;
  background-color: transparent;
}

.main-header__nav {
  display: grid;
  grid-template-columns: repeat(3, minmax(86px, 1fr));
  grid-template-rows: 88px 1fr;
  grid-template-areas: "city logo button" "links links links";
  column-gap: 20px;
  row-gap: 0;
  justify-content: center;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

.nav__wrapper {
  display: none;
  grid-area: links;
  width: 100%;
}

.nav__city {
  grid-area: city;
  text-align: center;
}

.nav__logo {
  grid-area: logo;
}

.nav__button {
  grid-area: button;
  width: 40px;
  height: 40px;
  background-image: url("../img/svg/burger.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  border: none;
}

.nav__list {
  @include reset-list();

  &--sections {
    margin-bottom: 39px;
    padding-bottom: 39px;
    border-bottom: 1px solid #696969;
  }

  &--user {
    margin-bottom: 25px;
  }
}

.nav__item {
  margin-bottom: 35px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.nav__teachers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 40px;
  margin: 0 auto;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 16px;
  font-family: $montserrat-medium;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid $border-cr;
  border-radius: 4px;
}

// menu styles
.menu-open .main-header,
.no-js .main-header {
  position: static;
  padding-bottom: 32px;
  background-color: $menu-open-bg;
}

.menu-open .main-header__nav,
.no-js .main-header__nav {
  row-gap: 46px;
}

.menu-open .nav__wrapper,
.no-js .nav__wrapper {
  display: block;
}

.menu-open .nav__button {
  background-image: url("../img/svg/close.svg");
}

.no-js .nav__button {
  display: none;
}
