.programme {
  padding-top: 56px;
  text-align: center;
}

.programme__title {
  padding-bottom: 46px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  color: $programme-cr;
}
