.slider {
  display: flex;
  align-items: center;
}

.slider__item {
  position: relative;
  width: 260px;
  min-height: 410px;
}

.slider__image {
  width: 100%;
  min-height: 410px;
  max-height: 410px;
  margin: 0 auto;
  object-fit: cover;
  object-position: 0 0;
}

.slider__inner-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 16px);
  min-height: 100px;
  margin: 0 auto;
  padding: 5px 10px;
  text-align: center;
  background-color: rgba($b, 0.5);
}

.slider__inner-wrapper h3 {
  width: 200px;
  font-size: 18px;
  line-height: 22px;
  color: $w;
}

.active-height {
  min-height: 450px;
  max-height: 450px;
}
